<a href="https://colab.research.google.com/github/kishoresmeda/GoogleColabTutorialOnYouTube/blob/main/GoogleColabDemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
!pwd

/content

In [3]:
!pip install automl

Collecting automl
  Downloading https://files.pythonhosted.org/packages/b0/45/63678ae2a67db6adf928c2197fb61ebe073075369c369c9710f47022fa67/automl-2.9.9-py2.py3-none-any.whl (71kB)
     |████████████████████████████████| 81kB 5.4MB/s
Requirement already satisfied: tabulate<1.0,>=0.7.5 in /usr/local/lib/python3.7/dist-packages (from automl) (0.8.9)
Collecting dill<0.3,>=0.2.5
  Downloading https://files.pythonhosted.org/packages/fe/42/bfe2e0857bc284cbe6a011d93f2a9ad58a22cb894461b199ae72cfef0f29/dill-0.2.9.tar.gz (150kB)
     |████████████████████████████████| 153kB 9.9MB/s
Collecting lightgbm<2.1,>=2.0.11
  Downloading https://files.pythonhosted.org/packages/47/4a/c1048a8bc32ae7b8e23bce956289683f8a09033af7cd6af0195d64b7620e/lightgbm-2.0.12-py2.py3-none-manylinux1_x86_64.whl (627kB)
     |████████████████████████████████| 634kB 11.2MB/s
Collecting pandas<1.0,>=0.18.0
  Downloading https://files.pythonhosted.org/packages/63/e0/a1b39cdcb2c391f087a1538bc8a6d62a82d0439693192aef541d7b123769/pandas-0.25.3-cp37-cp37m-manylinux1_x86_64.whl (10.4MB)
     |████████████████████████████████| 10.4MB 14.3MB/s
Requirement already satisfied: python-dateutil<3.0,>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from automl) (2.8.1)
Requirement already satisfied: scikit-learn<1.0,>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from automl) (0.22.2.post1)
Requirement already satisfied: scipy<2.0,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from automl) (1.4.1)
Requirement already satisfied: h5py<3.0,>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from automl) (2.10.0)
Collecting pathos<0.3.0,>=0.2.1
  Downloading https://files.pythonhosted.org/packages/10/9e/0100b1d500851fc8e093da5463ca38e013c86ea0855e7c510ca0d3e1f7c1/pathos-0.2.7-py2.py3-none-any.whl (81kB)
     |████████████████████████████████| 81kB 11.4MB/s
Requirement already satisfied: numpy<2.0,>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from automl) (1.19.5)
Collecting sklearn-deap2<0.3,>=0.2.1
  Downloading https://files.pythonhosted.org/packages/0b/e3/149243bf8574c6c8aa0736bd61946c47717a635e988e4a990d36405f2cca/sklearn-deap2-0.2.2.tar.gz
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<1.0,>=0.18.0->automl) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0,>=2.6.1->automl) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0,>=0.18.1->automl) (1.0.1)
Collecting pox>=0.2.9
  Downloading https://files.pythonhosted.org/packages/6b/06/600e1b1103336ce94cf01e63a6c7b134f0edccf59bbf99189c975e2f257e/pox-0.2.9-py2.py3-none-any.whl
Requirement already satisfied: multiprocess>=0.70.11 in /usr/local/lib/python3.7/dist-packages (from pathos<0.3.0,>=0.2.1->automl) (0.70.11.1)
Collecting ppft>=1.6.6.3
  Downloading https://files.pythonhosted.org/packages/51/7b/e63dcf1f9b5ecd37691ee8a7029f71ddb7cafab780a60e312d913afc0f29/ppft-1.6.6.3-py3-none-any.whl (65kB)
     |████████████████████████████████| 71kB 10.8MB/s
Collecting deap>=1.0.2
  Downloading https://files.pythonhosted.org/packages/99/d1/803c7a387d8a7e6866160b1541307f88d534da4291572fb32f69d2548afb/deap-1.3.1-cp37-cp37m-manylinux2010_x86_64.whl (157kB)
     |████████████████████████████████| 163kB 54.3MB/s
Building wheels for collected packages: dill, sklearn-deap2
  Building wheel for dill (setup.py) ... done
  Created wheel for dill: filename=dill-0.2.9-cp37-none-any.whl size=77404 sha256=ee5c4053aaa90f77d3e895595e535824040a7274a7c1cdd033089a66411a5509
  Stored in directory: /root/.cache/pip/wheels/5b/d7/0f/e58eae695403de585269f4e4a94e0cd6ca60ec0c202936fa4a
  Building wheel for sklearn-deap2 (setup.py) ... done
  Created wheel for sklearn-deap2: filename=sklearn_deap2-0.2.2-cp37-none-any.whl size=9069 sha256=ea9084c0d8ae0d11942610c3f479207fe73d8f773e61f451a7403bc32fa5d8a0
  Stored in directory: /root/.cache/pip/wheels/bf/3f/41/62181df83b6d15a4054d34227ef40a96d6e4c56ff6773bf9f8
Successfully built dill sklearn-deap2
ERROR: multiprocess 0.70.11.1 has requirement dill>=0.3.3, but you'll have dill 0.2.9 which is incompatible.
ERROR: google-colab 1.0.0 has requirement pandas~=1.1.0; python_version >= "3.0", but you'll have pandas 0.25.3 which is incompatible.
ERROR: fbprophet 0.7.1 has requirement pandas>=1.0.4, but you'll have pandas 0.25.3 which is incompatible.
ERROR: pathos 0.2.7 has requirement dill>=0.3.3, but you'll have dill 0.2.9 which is incompatible.
Installing collected packages: dill, lightgbm, pandas, pox, ppft, pathos, deap, sklearn-deap2, automl
  Found existing installation: dill 0.3.3
    Uninstalling dill-0.3.3:
      Successfully uninstalled dill-0.3.3
  Found existing installation: lightgbm 2.2.3
    Uninstalling lightgbm-2.2.3:
      Successfully uninstalled lightgbm-2.2.3
  Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
Successfully installed automl-2.9.9 deap-1.3.1 dill-0.2.9 lightgbm-2.0.12 pandas-0.25.3 pathos-0.2.7 pox-0.2.9 ppft-1.6.6.3 sklearn-deap2-0.2.2

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!ls

gdrive	sample_data

In [3]:
!ls /content/gdrive/MyDrive/data

titanic.csv

In [5]:
import pandas as pd
df = pd.read_csv("/content/gdrive/MyDrive/data/titanic.csv")
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [6]:
df2 = pd.read_csv("https://raw.githubusercontent.com/massquantity/Kaggle-Titanic/master/Data/train.csv")
df2.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]